body {
  appearance: none;
}

select {
  appearance: base-select; /*Use the browser's default look */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

/* When the dropdown is open */
select:open {
  border: 2px solid rgb(205, 12, 121);
  /* background-color: #eef; */
}

/* The dropdown arrow icon (may not work in all browsers) */
select::picker-icon {
  color: rgb(47, 255, 0);
  font-size: 20px;
}

/* The currently selected option */
option:checked {
  background-color: rgb(189, 223, 16);
  font-weight: bold;
}

/* The checkmark next to selected option (experimental) */
option::checkmark {
  content: "✔️ ";
  color: rgb(231, 18, 149);
  font-weight: bold;
}

/* worthy of mention, Browsers use their own built-in styles to display dropdowns, and they don’t let you change much about how options look — especially things like:

Background color

Font weight

Font family

Adding icons or checkmarks

It’s mainly a security, usability, and consistency thing. The dropdown should look the same on different systems (Windows, macOS, Android, etc.). 
therefor, option::checkmark and option:checked  will most likely not work

 */
