body {
  appearance: none;
}

select {
  appearance: base-select; /*Use the browser's default look */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

/* When the dropdown is open */
select:open {
  border: 2px solid rgb(205, 12, 121);
  background-color: #eef;
}

/* The dropdown arrow icon (may not work in all browsers) */
select::picker-icon {
  color: rgb(68, 231, 32);
  font-size: 20px;
}
